body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#btn1{
  height: 50px;
  width: 60px;
  margin-right: 5px;
  padding-left: 10px;
}

#btn2{
  height: 50px;
  width: 70px;
  margin-left: 5px;
  padding: 10px;
}

.navbar{
  background-color: crimson;
  height: 50px;
  width: 100%;
  padding: 10px;
}
